

/* Custom styles for Blog Description */
.blog-description img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
}
